:root {
    --white: #eeeeee;
    --black: #323232;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Roboto, sans-serif;
    text-align: center;
    background-color: var(--white);
    color: var(--black);
    overflow: hidden
}


.header {
    position: relative;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

.header-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: var(--black);
}

.shadow {
    -webkit-box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 1);
    box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 1);
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("../images/papas-bravas.jpg");
    height: 15rem;
    background-size: cover;
    background-position: center;
    color: var(--white);
    font-size: 2rem;
}

.header-text div {
    margin: 1rem;
}

.container-products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    font-size: 1rem;

}

.products {
    width: fit-content;
    border-radius: 5px;
    margin: 1rem;
    font-size: 1.5rem;
}

.category-title {
    margin-top: 4rem;
    font-weight: bolder;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem;
    font-weight: normal;
    gap: 1rem;
    font-size: 1rem;
}

.name {
    text-align: left;
    max-width: 500px;
}

.spicy::after {
    color: red;
    content: " 🌶";
}

.price {
    text-align: right;
    font-weight: bold;
    color: green;
}

.find {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 3rem;
}

.container-schedule {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    width: 90%;
}


.container-map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 400px;
}

.google-map {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    margin-bottom: 1rem;
}


.social-media-items {
    text-decoration: none;
    color: var(--black);
    font-size: 2rem;
}

@media only screen and (min-width: 768px) {
    .find {
        flex-direction: row;
        margin: 2rem;
    }

    .container-map {
        height: 375px;
    }

    .google-map {
        width: 85%;
    }

    .container, .products {
        font-size: 2rem;
    }

    .container-schedule {
        row-gap: 4.5rem;
    }

    .item {
        font-size: 1.5rem;
    }

    .header-title {
        font-size: 4rem;
        margin: 1rem;
    }

    .header {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .body-title {
        margin: 3rem;
    }

    .header-text {
        font-size: 2.5rem;
        height: 12rem;
    }
}